<h4>Run the <i>Preview Service</i> locally on your machine</h4>
<p>
    The <i>Preview Service</i> has been developed as a Docker Container. This means, it can be seen as a
    standardized piece
    of software which is executable on may systems out-of-the-box - also on your local machine. The only
    prerequisite is the
    docker container runtime installed on your system. More details about the installation can be found here:
    <a href="https://docs.docker.com/install/" target="_blank">https://docs.docker.com/install/</a>.
</p>
<p>
    The Docker Container Image of the <i>PreviewService</i> is available on Docker Hub:
    <a href="https://hub.docker.com/r/ricebean/preview-service"
        target="_blank">https://hub.docker.com/r/ricebean/preview-service</a>.
</p>
<p>
    When the docker container runtime is installed on your local machine, simply run the following
    CLI command in order to start the service:
    <input class="form-control code" type="text" value="{{ cmd }}" readonly>
</p>
<p>
    When started successfully, the <i>Preview Service</i> is available on your local machine at
    <a href="http://localhost:8080" target="_blank">http://localhost:8080</a>
</p>