<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />
    <appender name="LoggingController" class="com.meixxi.service.preview.controller.v1.LoggingController"/>

    <root level="info">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LoggingController"/>
    </root>
</configuration>