.metadata {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: .8rem;
}

.preview-area {
    width: 100%;
    height: 160px;
    overflow: hidden;
    display: inline-block;
}

.preview {
    border: 1px solid #999999;
    height: 100%;
}

.preview-item {
    float: left;
    margin-left: 20px;
    height: 100%;
    font-size: .8rem;
    position: relative;
}

.preview-buttons {
    position: absolute;
    left: 0;
    bottom: 0;
}

.modal-preview {
    border: 1px solid #999999;
}

.modal-title {
    white-space: nowrap;
    overflow: hidden;
}

.modal-body {
    text-align: center;
    overflow: hidden;
    max-height: 1000px;
}