<h4>Automated Preview Generation (API)</h4>
<p>
    This section provides information and materials for the automated generation of preview images. In order to
    achieve this,
    the service has implemented an XJDF based Application Programming Interface (API). The simplest way to try out
    the API is to download
    the demo package and use the command line tool "curl" to connect the service.
</p>
<p>
    In case you are interested in how the XJDF works in detail, feel free to download the demo package, unzip it and
    analyze the files included
    in the package. The detailed explanation will be part of the publication.
</p>
<p>
    Here is a demo XJDF Package: <a href="assets/demo.xjmf.zip">demo.xjmf.zip</a>
</p>
<p>
    ...and here is the appropriate CLI Command for testing the automated preview generation:
    <input class="form-control code" type="text" value="{{ cmd }}" readonly>
</p>